In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['train.csv', 'gender_submission.csv', 'test.csv']

Predicting the survival of the passenger using the given data set has to be treated as "Classification" problem. Reading training data set

In [2]:
model = pd.read_csv('../input/train.csv')
model.head()

   PassengerId  Survived  Pclass    ...        Fare Cabin  Embarked
0            1         0       3    ...      7.2500   NaN         S
1            2         1       1    ...     71.2833   C85         C
2            3         1       3    ...      7.9250   NaN         S
3            4         1       1    ...     53.1000  C123         S
4            5         0       3    ...      8.0500   NaN         S

[5 rows x 12 columns]

Data set has lot of information, we need to cleanup unwanted information and prepare proper data set to train model. Availibility of irrelevant informations will introduce noise to during the training. For example, Fields like Ticket, PassengerId were random numbers which is of no improtance in predicitng the survival classification.

In [3]:
model = model[['Pclass','Sex','Age','SibSp','Parch','Fare','Survived']]
model.head()

   Pclass     Sex   Age  SibSp  Parch     Fare  Survived
0       3    male  22.0      1      0   7.2500         0
1       1  female  38.0      1      0  71.2833         1
2       3  female  26.0      0      0   7.9250         1
3       1  female  35.0      1      0  53.1000         1
4       3    male  35.0      0      0   8.0500         0

In [4]:
model['Sex'] = model['Sex'].map({'male':0, 'female':1})
model.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Survived
0       3    0  22.0      1      0   7.2500         0
1       1    1  38.0      1      0  71.2833         1
2       3    1  26.0      0      0   7.9250         1
3       1    1  35.0      1      0  53.1000         1
4       3    0  35.0      0      0   8.0500         0

Dropping Nan data. Other approach is to fill NaN with the mean of the column data.

In [5]:
model = model.dropna()

Dropping 'Survived' result from model and treating it as expected prediction result.

In [6]:
x = model.drop('Survived', axis = 1)
y = model['Survived']
x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare
0       3    0  22.0      1      0   7.2500
1       1    1  38.0      1      0  71.2833
2       3    1  26.0      0      0   7.9250
3       1    1  35.0      1      0  53.1000
4       3    0  35.0      0      0   8.0500

Splits the data set to training and test data set

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 1)

In [8]:
from sklearn import tree
result = tree.DecisionTreeClassifier()

In [9]:
from sklearn import tree
result = tree.DecisionTreeClassifier(min_samples_split = 15)

Training the model

In [10]:
result.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=15,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

Predict and eveluate accuracy

In [11]:
y_predict = result.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.8603351955307262